@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
/* General styling and styling variables will be stored here */
:root {
    --green: "#8BAF83";
    --teal-green: "#68B2AO";
    font-family: 'Source Sans Pro', sans-serif;
}


/* Font weights according to Figma documentation */

.regular {
    font-weight: 400,
}

.semi-bold {
font-weight: 400,
}

.bold {
font-weight: 700,
}