.navbar {
  background-color: var(--color-black);
}
.nav-link {
  color:white;
  font-weight: 600;
  transition: 0.3s;
}
.nav-item:hover {
  /* Ideally something animated but for now, I'll do easy stuff*/
background-color: white;

}
.nav-link:hover {
  color:black;
}

.navbar-brand{
  color:white;
  font-weight: 800;
}
.navbar-brand-black{
  color:black;
  font-weight: 800;
}

.search-bar input {
border-radius: 100px;
}


